BITRIX24_WEBHOOK_URL=https://b24-ghk0wo.bitrix24.ru/rest/1/a0nqji4si9b9uqoo
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=bitrix24_records
EMBEDDING_MODEL=Xenova/paraphrase-multilingual-MiniLM-L12-v2
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/bts_dss
PGSSL=false
